{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}{% translate "Edit Profile" %}{% endblock title %}
{% block content %}
  <div class="card">
    <div class="card-header text-white msc-color">
      <h5 style="display: inline">{% translate "Edit Profile" %}</h5>
    </div>
    <div class="card-body">
      <form enctype="multipart/form-data" class="form-special" action="." method="post">
        {% csrf_token %}
        {% crispy form  %}
        <button type="submit" class="btn msc-color text-white">{% translate "Submit" %}</button>
      </form>
    </div>
  </div>
{% endblock %}
