{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{%block title %} {% translate "Home" %} {% endblock title %}
{% block content%}

<div class="card ">
    <div class="card-header msc-color text-white">
        <h5 style="display: inline">{% translate "Welcome" %}</h5>
    </div>
    <div class="card-body ">
        <h4>{% translate "Instructions" %}</h4>
        <br>
        <div class="container">
        <p>1. {% translate "Click" %} <a href="{% url 'evaluator:evaluator_call' %}">{% translate "My Calls" %}</a> {% translate "to see your assigned call ." %}</p>
        <p>1. {% translate "Click" %} {% translate "View Applications" %} {% translate "to see the applications you have to check about your assigned call ." %}</p>
        <p>2. {% translate "Click View Application to check if the application is accepted ." %}</p>
        <p>3. {% translate "Select Admitted and Admitted Flow to accept the application." %}</p>
    </div>
    </div>
</div>
{% endblock content %}