{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% translate "Secretary Dashboard" %}{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-12 col-sm-4">
            <div class="card">
                <div class="card-header msc-color text-white">
                    <h5 style="display: inline">
                        {% translate "Secretary Profile" %}
                    </h5>
                </div>
                <div class="card-body">
                    <p><strong>{% translate "Email" %}:</strong>
                        {{user.email}}
                    </p>
                    <p><strong>{% translate "Fisrt Name" %}:</strong>
                        {{user.first_name}}
                    </p>
                    <p><strong>{% translate "Last Name" %}:</strong> {{user.last_name }}</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-8">
            <div class="card">
                <div class="card-header msc-color text-white">
                    <h5 style="display: inline">
                        {{department.title}}
                    </h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <p><strong>{% translate "Country" %}:</strong>
                                {{department.country}}
                            </p>
                            <p><strong>{% translate "City" %}:</strong>
                                {{department.city}}
                            </p>
                            <p><strong>{% translate "Address" %}:</strong>
                                {{department.address}}
                            </p>
                        </div>
                        <div class="col-12 col-sm-6">
                            <p><strong>{% translate "Pobox" %}:</strong> {{department.pobox }}</p>
                            <p><strong>{% translate "Telephone" %}:</strong> {{department.telephone }}</p>
                            <p><strong>{% translate "Institution" %}:</strong> <a href="{% url 'org:institution_detail' department.institution.pk %}" >{{department.institution }}</a></p>
                        </div>
                    </div>
                    <br>
                    <p>
                        <a href="{% url 'secretary:secretary_programmes' %}" class="btn msc-color text-white">{% translate "MSC Programmes" %}</a>
                        <a href="{% url 'secretary:secretary_calls' %}" class="btn msc-color text-white">{% translate "Calls" %}</a>
                        <a href="{% url 'secretary:secretary_evaluators' %}" class="btn msc-color text-white">{% translate "Evaluators" %}</a>

                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}