{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% translate "Secretary Programmes" %}{% endblock title %}

{% block content %}
    <div class="card">
        <div class="card-header msc-color text-white">
            <h5 style="display: inline">
                {{department.title}} {% translate "MSC Programmes" %}
            </h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="cols-12 col-sm-6 text-center">
                    <p><strong>{% translate "Country" %}:</strong>
                        {{department.country}}
                    </p>
                    <p><strong>{% translate "City" %}:</strong>
                        {{department.city}}
                    </p>
                    <p><strong>{% translate "Address" %}:</strong>
                        {{department.address}}
                    </p>
                </div>
                <div class="cols-12 col-sm-6 text-center">
                    <p><strong>{% translate "Pobox" %}:</strong> {{department.pobox }}</p>
                    <p><strong>{% translate "Telephone" %}:</strong> {{department.telephone }}</p>
                    <p><strong>{% translate "Institution" %}:</strong> <a href="{% url 'org:institution_detail' department.institution.pk %}" >{{department.institution }}</a></p>
                </div>
            </div>
            {% if department.mscprogramme_set.all %}
                <div class="accordion accordion-flush" id="accordionFlushRefs">
                    {% for msc in department.mscprogramme_set.all %}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-heading{{forloop.counter}}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{forloop.counter}}" aria-expanded="false" aria-controls="flush-collapse{{forloop.counter}}">
                                        {{msc.title}}
                                </button>
                            </h2>
                            <div id="flush-collapse{{forloop.counter}}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{forloop.counter}}" data-bs-parent="#accordionFlushPhds">
                                <div class="accordion-body">
                                    <p>
                                        {{msc.description |truncatewords:50 }}
                                    </p>
                                    <p><strong>{% translate "Address" %}:</strong>
                                        {{msc.address}}
                                    </p>
                                    <p>
                                        <a href="{% url 'msc:msc_programme_update' msc.pk %}"   class="btn msc-color text-light"><i class="bi bi-pencil-square"></i></a>
                                        <button  data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="return deleteprogramme('{{msc.pk}}','{{msc.title}}');" title="Delete project" class="btn msc-color text-light"><i class="bi bi-trash"></i></button>
                                        <a href="{% url 'msc:msc_programme_detail' msc.pk %}" class="btn msc-color text-light"><i class="bi bi-eye"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="row">
                    <div class="col col-12">
                        <div class="alert alert-danger">{% translate "No MSC Programmes found " %}</div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="card-footer msc-color">
            <span class="float-start"><a href="/msc/programmes/create" class="btn btn-outline-light rounded-pill">{% translate "Create MSC Programme" %}</a></span>

        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% translate "Are you sure you want to delete this MSC Programme ?" %}
                </div>
                <div class='modal-footer'>
                    <form name="myform" method='POST' action='' >
                        {% csrf_token %}
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type='submit' class='btn btn-danger'>Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
<script>
   function deleteprogramme(id,title){
        let action="/msc/programmes/"+id+"/delete";
        document.myform.action = action;
        var div = document.getElementById('exampleModalLabel');
        div.innerHTML = '{% translate "Delete" %} '+title;
    }
</script>
{% endblock%}