{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Profile" %} {% endblock title %}
{% block content %}

<div class="row">
  <div class="col-12 col-md-3 text-center">
    <div class="profile-image">
      <i class="bi bi-person-circle big-icon"></i>
    </div>
     <h3>Files</h3>
      <br>
      <p>{% trans "Diplomas" %}</p>
      {% for diploma in applicant.diploma_set.all %}
      <a href="{{diploma.media_file.url}}">{{diploma.specialization}}</a>
      {% endfor %}
      <p>{% trans "Job Experiences" %}</p>
      {% for job in applicant.jobexperience_set.all %}
      <a href="{{job.media_file.url}}">{{job.job_title}}</a>
      {% endfor %}
      <p>{% trans "PHDs" %}</p>
      {% for phd in applicant.phd_set.all %}
      <a href="{{phd.media_file.url}}">{{phd.title}}</a>
      {% endfor %}
      <p>{% trans "References" %}</p>
      {% for ref in applicant.reference_set.all %}
      <a href="{{ref.media_file.url}}">{{ref.job_title}}</a>
      {% endfor %}
      <p>{% trans "Applications" %}</p>
      {% for app in applicant.application_set.all %}
      <a href="{{app.media_file.url}}">{{app.call.msc_programme}}</a>
      {% endfor %}
      <br>
      <br>
  </div>
  <div class="col-12 col-md-9">
    <div class="profile-head">
      <br>
      <div class="container">
        <div class="row msc-color text-white text-center">
          <div class="col-12 col-md-6">
            <h6>{{applicant.user.email}}</h6>
          </div>
          <div class="col-12 col-md-3">
            <a href="{% url 'applicant:applicant_profile_edit'  %}" class="text-white">{% trans "Edit Profile" %}</a>
          </div>
          <div class="col-12 col-md-3">
              <a href="{% url 'user_account:user_change_password'  %}" class="text-white">{% trans "Change Password" %}</a>
          </div>
        </div>
      </div>
        <br>
      <ul class="nav nav-pills flex-column flex-sm-row" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a
            class="flex-sm-fill text-sm-center nav-link active"
            id="profile-tab"
            data-bs-toggle="tab"
            href="#profile"
            role="tab"
            aria-controls="profile"
            aria-selected="false"
            >{% trans "About" %}</a
          >
        </li>
        <li class="nav-item " role="presentation">
          <a
            class="flex-sm-fill text-sm-center nav-link"
            id="diplomas-tab"
            data-bs-toggle="tab"
            href="#diplomas"
            role="tab"
            aria-controls="diplomas"
            aria-selected="false"
            >{% trans "Diplomas" %}</a
          >
        </li>
        <li class="nav-item" role="presentation">
          <a
            class="flex-sm-fill text-sm-center nav-link"
            id="phds-tab"
            data-bs-toggle="tab"
            href="#phds"
            role="tab"
            aria-controls="phds"
            aria-selected="true"
            >{% trans "PHDs" %}</a
          >
        </li>
        <li class="nav-item" role="presentation">
          <a
            class="flex-sm-fill text-sm-center nav-link"
            id="jobexperiences-tab"
            data-bs-toggle="tab"
            href="#jobexperiences"
            role="tab"
            aria-controls="jobexperiences"
            aria-selected="true"
            >{% trans "Job Experiences" %}</a
          >
        </li>
        <li class="nav-item" role="presentation">
          <a
            class="flex-sm-fill text-sm-center nav-link"
            id="references-tab"
            data-bs-toggle="tab"
            href="#references"
            role="tab"
            aria-controls="references"
            aria-selected="true"
            >{% trans "References" %}</a
          >
        </li>
      </ul>
    </div>
    <hr>
     <div class="tab-content" id="myTabContent">
      <div
        class="tab-pane fade show active"
        id="profile"
        role="tabpanel"
        aria-labelledby="profile-tab"
      >
        <div class="row">
          <div class="col-6">
            <label>{% trans "First Name" %}</label>
          </div>
          <div class="col-6">
            <p>{{applicant.user.first_name}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label>{% trans "Last Name" %}</label>
          </div>
          <div class="col-6">
            <p>{{applicant.user.last_name}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label>{% trans "Telephone" %}</label>
          </div>
          <div class="col-6">
            <p>{{applicant.telephone}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label>{% trans "Gender" %}</label>
          </div>
          <div class="col-6">
            <p>
              {% if applicant.gender == 'M' %}
                {% trans "Male" %}
              {% else %}
                {% trans "Female" %}
              {% endif %}
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label>{% trans "Birth Date" %}</label>
          </div>
          <div class="col-6">
            <p>{{applicant.birth_date}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label>{% trans "Country" %}</label>
          </div>
          <div class="col-6">
            <p>{{applicant.country}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label>{% trans "City" %}</label>
          </div>
          <div class="col-6">
            <p>{{applicant.city}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label>{% trans "Address" %}</label>
          </div>
          <div class="col-6">
            <p>{{applicant.address}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label>{% trans "Citizenhsip" %}</label>
          </div>
          <div class="col-6">
            <p>{{applicant.citizenship}}</p>
          </div>
        </div>
      </div>
      <div
        class="tab-pane fade "
        id="diplomas"
        role="tabpanel"
        aria-labelledby="diplomas-tab">
        {% if applicant.diploma_set.all %}
          <div class="accordion accordion-flush" id="accordionFlushDiplomas">
            {% for diploma in applicant.diploma_set.all %}
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading{{forloop.counter}}">
                  <button class="accordion-button gray-500 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{forloop.counter}}" aria-expanded="false" aria-controls="flush-collapse{{forloop.counter}}">
                    {{diploma.specialization}}
                  </button>
                </h2>
                <div id="flush-collapse{{forloop.counter}}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{forloop.counter}}" data-bs-parent="#accordionFlushDiplomas">
                  <div class="accordion-body">
                    <div class="row">
                      <div class="col-12 col-md-6">
                        <p><strong>{% trans "Type" %}: </strong>
                          {% if diploma.type == 'PG' %}
                            {% trans "Postgraduate" %}
                          {% else %}
                            {% trans "Undergraduate" %}
                          {% endif %}
                        </p>
                        <p><strong>{% trans "Awarding Institution" %}: </strong>{{ diploma.awarding_institution }}</p>
                        <p><strong>{% trans "Department" %}: </strong>{{ diploma.department }}</p>
                      </div>
                      <div class="col-6">
                          <p><strong>{% trans "Date Awarded" %}: </strong>{{ diploma.date_awarded }}</p>
                          <p><strong>{% trans "Average Grade" %}: </strong>{{ diploma.grade_point_average }}</p>
                          <p><strong>{% trans "Country" %}: </strong>{{ diploma.country }}</p>
                          <p><strong>{% trans "City" %}: </strong>{{ diploma.city }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        {% else %}
          <div class="row">
            <div class="col col-12">
                <div class="alert alert-danger">{% trans "No Diplomas found " %}</div>
            </div>
          </div>
        {% endif %}
      </div>
      <div
        class="tab-pane fade"
        id="jobexperiences"
        role="tabpanel"
        aria-labelledby="jobexperiences-tab">
        {% if applicant.jobexperience_set.all %}
          <div class="accordion accordion-flush" id="accordionFlushJobs">
            {% for job in applicant.jobexperience_set.all %}
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading{{forloop.counter}}">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{forloop.counter}}" aria-expanded="false" aria-controls="flush-collapse{{forloop.counter}}">
                    {{job.job_title}}
                  </button>
                </h2>
                <div id="flush-collapse{{forloop.counter}}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{forloop.counter}}" data-bs-parent="#accordionFlushJobs">
                  <div class="accordion-body">
                    <div class="row">
                      <div class="col-12 col-md-6">
                        <p><strong>{% trans "Organization" %}: </strong>
                          {{job.organization}}
                        </p>
                        <p><strong>{% trans "Start Date" %}: </strong>{{ job.start_date }}</p>
                        <p><strong>{% trans "End Date" %}: </strong>{{ job.end_date }}</p>
                      </div>
                      <div class="col-6">
                        <p><strong>{% trans "Country" %}: </strong>{{ job.country }}</p>
                        <p><strong>{% trans "City" %}: </strong>{{ job.city }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        {% else %}
          <div class="row">
            <div class="col col-12">
                <div class="alert alert-danger">{% trans "No Job Experiences found " %}</div>
            </div>
          </div>
        {% endif %}
      </div>
      <div
        class="tab-pane fade "
        id="phds"
        role="tabpanel"
        aria-labelledby="phds-tab">
        {% if applicant.phd_set.all %}
          <div class="accordion accordion-flush" id="accordionFlushPhds">
            {% for phd in applicant.phd_set.all %}
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading{{forloop.counter}}">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{forloop.counter}}" aria-expanded="false" aria-controls="flush-collapse{{forloop.counter}}">
                    {{phd.title}}
                  </button>
                </h2>
                <div id="flush-collapse{{forloop.counter}}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{forloop.counter}}" data-bs-parent="#accordionFlushPhds">
                  <div class="accordion-body">
                    <div class="row">
                      <div class="col-12 col-md-6">
                        <p><strong>{% trans "Type" %}: </strong>
                          {% if phd.type == 'PG' %}
                            {% trans "Postgraduate" %}
                          {% else %}
                            {% trans "Undergraduate" %}
                          {% endif %}
                        </p>
                        <p><strong>{% trans "Awarding Institution" %}: </strong>{{ phd.awarding_institution }}</p>
                        <p><strong>{% trans "Department" %}: </strong>{{ phd.department }}</p>
                        <p><strong>{% trans "Supervisor" %}: </strong>{{ phd.supervisor }}</p>
                      </div>
                      <div class="col-6">
                          <p><strong>{% trans "Date Awarded" %}: </strong>{{ phd.date_awarded }}</p>
                          <p><strong>{% trans "Average Grade" %}: </strong>{{ phd.grade_point_average }}</p>
                          <p><strong>{% trans "Country" %}: </strong>{{ phd.country }}</p>
                          <p><strong>{% trans "City" %}: </strong>{{ phd.city }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        {% else %}
          <div class="row">
            <div class="col col-12">
                <div class="alert alert-danger">{% trans "No Phds found " %}</div>
            </div>
          </div>
        {% endif %}
      </div>
      <div
        class="tab-pane fade"
        id="references"
        role="tabpanel"
        aria-labelledby="references-tab">
        {% if applicant.reference_set.all %}
        <div class="accordion accordion-flush" id="accordionFlushRefs">
          {% for ref in applicant.reference_set.all %}
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-heading{{forloop.counter}}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{forloop.counter}}" aria-expanded="false" aria-controls="flush-collapse{{forloop.counter}}">
                  {{ref.job_title}} {% trans 'Reference' %}
                </button>
              </h2>
              <div id="flush-collapse{{forloop.counter}}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{forloop.counter}}" data-bs-parent="#accordionFlushRefs">
                <div class="accordion-body">
                  <div class="row">
                    <div class="col-12 col-md-6">
                      <p><strong>{% trans "Organization" %}: </strong>{{ ref.organization }}</p>
                      <p><strong>{% trans "First Name" %}: </strong>{{ ref.first_name }}</p>
                      <p><strong>{% trans "Last Name" %}: </strong>{{ ref.last_name }}</p>
                      <p><strong>{% trans "Telephone" %}: </strong>{{ ref.telephone }}</p>
                    </div>
                    <div class="col-6">
                      <p><strong>{% trans "Reference Date" %}: </strong>{{ ref.reference_date }}</p>
                      <p><strong>{% trans "Country" %}: </strong>{{ ref.country }}</p>
                      <p><strong>{% trans "City" %}: </strong>{{ ref.city }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <div class="row">
          <div class="col col-12">
              <div class="alert alert-danger">{% trans "No References found " %}</div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>
</div>
{% endblock %}