{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load bootstrap5 %}
{% block title %}{% translate "Edit Profile" %}{% endblock title %}
{% block extra_css %}
  <link
	  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.standalone.min.css"
	  rel="stylesheet"
  />
  <style>
    .table td, .table th {
    min-width: 150px;
}
  </style>

{% endblock %}
{% block content %}
    <ul class="nav nav-pills flex-column flex-sm-row" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a
          class="flex-sm-fill text-sm-center nav-link active"
          id="profile-tab"
          data-bs-toggle="tab"
          href="#profile"
          role="tab"
          aria-controls="profile"
          aria-selected="false"
          >{% translate "Profile" %}</a
        >
      </li>
      <li class="nav-item " role="presentation">
        <a
          class="flex-sm-fill text-sm-center nav-link"
          id="diplomas-tab"
          data-bs-toggle="tab"
          href="#diplomas"
          role="tab"
          aria-controls="diplomas"
          aria-selected="false"
          >{% translate "Diplomas" %}</a
        >
      </li>
      <li class="nav-item" role="presentation">
        <a
          class="flex-sm-fill text-sm-center nav-link"
          id="phds-tab"
          data-bs-toggle="tab"
          href="#phds"
          role="tab"
          aria-controls="phds"
          aria-selected="true"
          >{% translate "PHDs" %}</a
        >
      </li>
      <li class="nav-item" role="presentation">
        <a
          class="flex-sm-fill text-sm-center nav-link"
          id="jobexperiences-tab"
          data-bs-toggle="tab"
          href="#jobexperiences"
          role="tab"
          aria-controls="jobexperiences"
          aria-selected="true"
          >{% translate "Job Experiences" %}</a
        >
      </li>
      <li class="nav-item" role="presentation">
        <a
          class="flex-sm-fill text-sm-center nav-link"
          id="references-tab"
          data-bs-toggle="tab"
          href="#references"
          role="tab"
          aria-controls="references"
          aria-selected="true"
          >{% translate "References" %}</a
        >
      </li>
    </ul>
      <br>
      <form enctype="multipart/form-data" class="tab-content" id="myTabContent" method="post">
        <div
          class="tab-pane fade show active"
          id="profile"
          role="tabpanel"
          aria-labelledby="profile-tab"
        >
          {% csrf_token %}
          {% crispy form %}
        </div>
        {% for formset in inlines %}
          <div
          class="tab-pane fade "
          id="{% if forloop.counter == 1 %}diplomas{% elif forloop.counter == 2 %}phds{% elif forloop.counter == 3 %}jobexperiences{% elif forloop.counter == 4 %}references{% endif %}"
          role="tabpanel"
          aria-labelledby="{% if forloop.counter == 1 %}diplomas-tab{% elif forloop.counter == 2 %}phds-tab{% elif forloop.counter == 3 %}jobexperiences-tab{% elif forloop.counter == 4 %}references-tab{% endif %}"
          >
            {{ formset.management_form }}
            <div class="row" id="{{formset.prefix}}">
              {% for form in formset.forms %}
                <div class="col-12">
                  {% bootstrap_form form layout='horizontal' %}
                </div>
              {% endfor %}
            </div>
            <br>
            <input type="button" value="Add More" onclick = "add_more({% if forloop.counter == 1 %}'diploma_set'{% elif forloop.counter == 2 %}'phd_set'{% elif forloop.counter == 3 %}'jobexperience_set'{% elif forloop.counter == 4 %}'reference_set'{% endif %});" >
            <div id="empty_form" style="display:none">
              <div class="col-12">
              {% bootstrap_form formset.empty_form layout='horizontal' %}
              </div>
            </div>
          </div>
        {% endfor%}
        <br>
        <button type="submit" class="btn msc-color text-white">{% translate "Submit" %}</button>
      </form>
    <br>
    <br>
{% endblock %}
{% block javascript %}
  <script type="text/javascript">
    function add_more(form) {
      var form_idx = $('#id_'+form+'-TOTAL_FORMS').val();
      $('#'+form).append($('#empty_form').html().replace(/__prefix__/g, form_idx));
      $('#id_'+form+'-TOTAL_FORMS').val(parseInt(form_idx) + 1);
    }
  </script>
{% endblock %}

