{% extends 'base.html' %}
{% load i18n %}
{% block title %} {{applicant.user.first_name}} {{applicant.user.last_name}} {% endblock title %}
{% block content %}

<div class="row">
    <div class="col-12 col-sm-4">
      <div class="card">
        <div class="card-header text-white msc-color">
          <h5 style="display: inline">{% translate "Applicant Informations" %}</h5>
        </div>
        <div class="card-body">
        <div class="row">
            <div class="col-sm-4">
                <h6 class="mb-0">{% translate "Fullname" %}</h6>
            </div>
            <div class="col-sm-8 text-secondary">{{applicant.user.first_name}} {{applicant.user.last_name}} </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-4">
                <h6 class="mb-0">{% translate "Email" %}</h6>
            </div>
            <div class="col-sm-8 text-secondary ">{{applicant.user.email}} </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-4">
                <h6 class="mb-0">{% translate "Telephone" %}</h6>
            </div>
            <div class="col-sm-8 text-secondary">{{applicant.telephone}} </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-4">
                <h6 class="mb-0">{% translate "Gender" %}</h6>
            </div>
            <div class="col-sm-8 text-secondary">{% if applicant.gender == 'M' %}
              {% translate "Male" %}
            {% else %}
              {% translate "Female" %}
            {% endif %} </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-4">
                <h6 class="mb-0">{% translate "Birth Date" %}</h6>
            </div>
            <div class="col-sm-8 text-secondary">{{applicant.birth_date}} </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-4">
                <h6 class="mb-0">{% translate "Country" %}</h6>
            </div>
            <div class="col-sm-8 text-secondary">{{applicant.country}} </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-4">
                <h6 class="mb-0">{% translate "City" %}</h6>
            </div>
            <div class="col-sm-8 text-secondary">{{applicant.city}} </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-4">
                <h6 class="mb-0">{% translate "Address" %}</h6>
            </div>
            <div class="col-sm-8 text-secondary">{{applicant.address}} </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-4">
                <h6 class="mb-0">{% translate "Citizenship" %}</h6>
            </div>
            <div class="col-sm-8 text-secondary">{{applicant.citizenship}} </div>
        </div>
        <hr>
        </div>
    </div>
    </div>
    <div class="col-12 col-sm-8">
      <div class="card">
        <div class="card-header text-white msc-color">
          <h5 style="display: inline">{% translate "Applicant Degrees and References" %}</h5>
        </div>
        <div class="card-body">
          <ul class="nav nav-pills flex-column flex-sm-row" id="myTab" role="tablist">
            <li class="nav-item " role="presentation">
              <a
                class="flex-sm-fill text-sm-center nav-link active"
                id="diplomas-tab"
                data-bs-toggle="tab"
                href="#diplomas"
                role="tab"
                aria-controls="diplomas"
                aria-selected="false"
                >{% translate "Diplomas" %}</a
              >
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="flex-sm-fill text-sm-center nav-link"
                id="phds-tab"
                data-bs-toggle="tab"
                href="#phds"
                role="tab"
                aria-controls="phds"
                aria-selected="true"
                >{% translate "PHDs" %}</a
              >
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="flex-sm-fill text-sm-center nav-link"
                id="jobexperiences-tab"
                data-bs-toggle="tab"
                href="#jobexperiences"
                role="tab"
                aria-controls="jobexperiences"
                aria-selected="true"
                >{% translate "Job Experiences" %}</a
              >
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="flex-sm-fill text-sm-center nav-link"
                id="references-tab"
                data-bs-toggle="tab"
                href="#references"
                role="tab"
                aria-controls="references"
                aria-selected="true"
                >{% translate "References" %}</a
              >
            </li>
          </ul>
        </div>
        <hr>
         <div class="tab-content" id="myTabContent">
          <div
            class="tab-pane fade show active"
            id="diplomas"
            role="tabpanel"
            aria-labelledby="diplomas-tab">
            {% if applicant.diploma_set.all %}
              <div class="accordion accordion-flush" id="accordionFlushDiplomas">
                {% for diploma in applicant.diploma_set.all %}
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-heading{{forloop.counter}}">
                      <button class="accordion-button gray-500 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{forloop.counter}}" aria-expanded="false" aria-controls="flush-collapse{{forloop.counter}}">
                        {{diploma.awarding_institution}}
                      </button>
                    </h2>
                    <div id="flush-collapse{{forloop.counter}}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{forloop.counter}}" data-bs-parent="#accordionFlushDiplomas">
                      <div class="accordion-body">
                        <div class="row">
                          <div class="col-12 col-md-6">
                            <p><strong>{% translate "Type" %}: </strong>
                              {% if diploma.type == 'PG' %}
                                {% translate "Postgraduate" %}
                              {% else %}
                                {% translate "Undergraduate" %}
                              {% endif %}
                            </p>
                            <p><strong>{% translate "Specialization" %}: </strong>{{ diploma.specialization }}</p>
                            <p><strong>{% translate "Department" %}: </strong>{{ diploma.department }}</p>
                            <p><strong>{% translate "Media File" %}: </strong><a href="{{diploma.media_file.url}}">{{diploma.awarding_institution}}</a></p>
                          </div>
                          <div class="col-6">
                              <p><strong>{% translate "Date Awarded" %}: </strong>{{ diploma.date_awarded }}</p>
                              <p><strong>{% translate "Average Grade" %}: </strong>{{ diploma.grade_point_average }}</p>
                              <p><strong>{% translate "Country" %}: </strong>{{ diploma.country }}</p>
                              <p><strong>{% translate "City" %}: </strong>{{ diploma.city }}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            {% else %}
              <div class="row container">
                <div class="col col-12">
                    <div class="alert alert-danger">{% translate "No Diplomas found " %}</div>
                </div>
              </div>
            {% endif %}
          </div>
          <div
            class="tab-pane fade"
            id="jobexperiences"
            role="tabpanel"
            aria-labelledby="jobexperiences-tab">
            {% if applicant.jobexperience_set.all %}
              <div class="accordion accordion-flush" id="accordionFlushJobs">
                {% for job in applicant.jobexperience_set.all %}
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-heading{{forloop.counter}}">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{forloop.counter}}" aria-expanded="false" aria-controls="flush-collapse{{forloop.counter}}">
                        {{job.job_title}}
                      </button>
                    </h2>
                    <div id="flush-collapse{{forloop.counter}}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{forloop.counter}}" data-bs-parent="#accordionFlushJobs">
                      <div class="accordion-body">
                        <div class="row">
                          <div class="col-12 col-md-6">
                            <p><strong>{% translate "Organization" %}: </strong>
                              {{job.organization}}
                            </p>
                            <p><strong>{% translate "Start Date" %}: </strong>{{ job.start_date }}</p>
                            <p><strong>{% translate "End Date" %}: </strong>{{ job.end_date }}</p>
                          </div>
                          <div class="col-6">
                            <p><strong>{% translate "Country" %}: </strong>{{ job.country }}</p>
                            <p><strong>{% translate "City" %}: </strong>{{ job.city }}</p>
                            <p><strong>{% translate "Media File" %}: </strong><a href="{{job.media_file.url}}">{{job.job_title}}</a></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            {% else %}
              <div class="row container">
                <div class="col col-12">
                    <div class="alert alert-danger">{% translate "No Job Experiences found " %}</div>
                </div>
              </div>
            {% endif %}
          </div>
          <div
            class="tab-pane fade "
            id="phds"
            role="tabpanel"
            aria-labelledby="phds-tab">
            {% if applicant.phd_set.all %}
              <div class="accordion accordion-flush" id="accordionFlushPhds">
                {% for phd in applicant.phd_set.all %}
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-heading{{forloop.counter}}">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{forloop.counter}}" aria-expanded="false" aria-controls="flush-collapse{{forloop.counter}}">
                        {{phd.title}}
                      </button>
                    </h2>
                    <div id="flush-collapse{{forloop.counter}}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{forloop.counter}}" data-bs-parent="#accordionFlushPhds">
                      <div class="accordion-body">
                        <div class="row">
                          <div class="col-12 col-md-6">
                            <p><strong>{% translate "Type" %}: </strong>
                              {% if phd.type == 'PG' %}
                                {% translate "Postgraduate" %}
                              {% else %}
                                {% translate "Undergraduate" %}
                              {% endif %}
                            </p>
                            <p><strong>{% translate "Awarding Institution" %}: </strong>{{ phd.awarding_institution }}</p>
                            <p><strong>{% translate "Department" %}: </strong>{{ phd.department }}</p>
                            <p><strong>{% translate "Supervisor" %}: </strong>{{ phd.supervisor }}</p>
                          </div>
                          <div class="col-6">
                              <p><strong>{% translate "Date Awarded" %}: </strong>{{ phd.date_awarded }}</p>
                              <p><strong>{% translate "Average Grade" %}: </strong>{{ phd.grade_point_average }}</p>
                              <p><strong>{% translate "Country" %}: </strong>{{ phd.country }}</p>
                              <p><strong>{% translate "City" %}: </strong>{{ phd.city }}</p>
                              <p><strong>{% translate "Media File" %}: </strong><a href="{{phd.media_file.url}}">{{phd.title}}</a></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            {% else %}
              <div class="row container">
                <div class="col col-12">
                    <div class="alert alert-danger">{% translate "No PHDs found " %}</div>
                </div>
              </div>
            {% endif %}
          </div>
          <div
            class="tab-pane fade"
            id="references"
            role="tabpanel"
            aria-labelledby="references-tab">
            {% if applicant.reference_set.all %}
            <div class="accordion accordion-flush" id="accordionFlushRefs">
              {% for ref in applicant.reference_set.all %}
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-heading{{forloop.counter}}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{forloop.counter}}" aria-expanded="false" aria-controls="flush-collapse{{forloop.counter}}">
                      {{ref.job_title}} {% translate 'Reference' %}
                    </button>
                  </h2>
                  <div id="flush-collapse{{forloop.counter}}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{forloop.counter}}" data-bs-parent="#accordionFlushRefs">
                    <div class="accordion-body">
                      <div class="row">
                        <div class="col-12 col-md-6">
                          <p><strong>{% translate "Organization" %}: </strong>{{ ref.organization }}</p>
                          <p><strong>{% translate "First Name" %}: </strong>{{ ref.first_name }}</p>
                          <p><strong>{% translate "Last Name" %}: </strong>{{ ref.last_name }}</p>
                          <p><strong>{% translate "Telephone" %}: </strong>{{ ref.telephone }}</p>
                        </div>
                        <div class="col-6">
                          <p><strong>{% translate "Reference Date" %}: </strong>{{ ref.reference_date }}</p>
                          <p><strong>{% translate "Country" %}: </strong>{{ ref.country }}</p>
                          <p><strong>{% translate "City" %}: </strong>{{ ref.city }}</p>
                          <p><strong>{% translate "Media File" %}: </strong><a href="{{job.media_file.url}}">{{ref.job_title}}</a></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          {% else %}
            <div class="row container">
              <div class="col col-12">
                  <div class="alert alert-danger">{% translate "No References found " %}</div>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
