{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% translate "Home" %} {% endblock title %}
{% block content%}

<div class="card ">
    <div class="card-header msc-color text-white">
        {% translate "Welcome" %}
    </div>
    <div class="card-body ">
        <h5 style="display: inline">{% translate "Instructions" %}</h5>
        <br>
        <div class="container">
        <p>1. {% translate "Click Profile to see your profile and then" %} <a href="{% url 'applicant:applicant_profile_edit' %}">{% translate "Edit Profile" %}</a>  {% translate "to add degrees and references ." %}</p>
        <p>2. {% translate "Click" %} <a href="{% url 'msc:call_list' %}">{% translate "Open Calls" %}</a> {% translate "to see available calls" %} .</p>
        <p>3. {% translate "Click View Call to see informations about the call" %} .</p>
        <p>4. {% translate "Click New Application to make a new application for the detailed call" %} .</p>
    </div>
    </div>
</div>


{% endblock content %}