{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_css %}
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block title %}{% trans "New Application" %} {% endblock title %}

{% block content %}
  {% get_current_language as LANGUAGE_CODE %}


  <div class="card">
    <div class="card-header bg-info text-white">
      {% blocktrans %}New Application for{% endblocktrans %}
        {% if LANGUAGE_CODE == 'el-gr' %}
          {{call.title_el_GR}}
        {% else %}
          {{call}}
        {% endif %}
    </div>
    <div class="card-body">
      <form name="test" enctype="multipart/form-data"  method="post">
          {% csrf_token %}
          {{ form |crispy }}
          <button type="submit" class="btn btn-info">{% trans "Submit" %}</button>

      </form>
    </div>
  </div>
{% endblock %}
{% block javascript %}
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <script type="text/javascript">
      $('.selectmultiple').select2();
        $('.selectmultiple').on('select2:select', function(e){
          var elm = e.params.data.element;
          $elm = jQuery(elm);
          $t = jQuery(this);
          $t.append($elm);
          $t.trigger('change.select2');
      });
  </script>
{% endblock %}