{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Calls" %}{% endblock title %}
{% block extra_css %}
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"></link>
{% endblock %}

{% block content %}
  {% get_current_language as LANGUAGE_CODE %}
  
  <h2 style="text-align: center;">{% trans "Open Calls" %}</h2>
  <div class="table-responsive">
    <table id="datatable" class="table align-items-center table-flush">
      <thead class="text-white bg-info">
        <tr>
          <th class="th-sm" scope="col">{% trans "Title" %}</th>
          <th class="th-sm" scope="col">{% trans "Start Date" %}</th>
          <th class="th-sm" scope="col">{% trans "End Date" %}</th>
          <th class="th-sm" scope="col">{% trans "Msc Programme" %}</th>
          <th class="th-sm" scope="col">{% trans "Actions" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for call in calls %}
        <tr>
          {% if LANGUAGE_CODE == 'el-gr' %}
            <td >{{ call.title_el_GR }}</td>
            <td >{{call.start_date}}</td>
            <td> {{call.end_date}}</td>
            <td> {{call.msc_programme.title_el_GR}}</td>
          {% else %}
            <td >{{ call.title }}</td>
            <td >{{call.start_date}}</td>
            <td> {{call.end_date}}</td>
            <td> {{call.msc_programme}}</td>
          {% endif %}
          <td>
            <a class="btn btn-outline-info" href="{% url 'applicant:call_detail'  call.pk  %}">{% trans "View Call" %}</a>
            <a class="btn btn-outline-info" href="{% url 'applicant:new_application' call.pk %}">{% trans "New Application" %}</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock  %}
{% block javascript %}
  <script type="text/javascript"
    src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript"
    src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
  <script type="text/javascript">
      $('#datatable').DataTable();
  </script>
{% endblock %}