{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Calls" %}{% endblock title %}
{% block extra_css %}
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"></link>
{% endblock %}

{% block content %}
  {% get_current_language as LANGUAGE_CODE %}
  {% if calls %}
        {% for call in calls %}
            <div class="row">
                <div class="col col-12">
                    <div class="card">
                        <div class="card-header msc-color text-white">
                            <h5 style="display: inline">
                              {% if LANGUAGE_CODE == 'el-gr' %}
                                {{ call.title_el_GR }}
                              {% else %}
                                {{ call.title }}
                              {% endif %}
                              </h5>
                            <span class="float-end"><a href="{% url 'applicant:call_detail'  call.pk  %}" class="btn btn-outline-light">{% trans "View Call" %}</a></span>
                        </div>
                        <div class="card-body">
                          <p>{% trans "Start Date" %}: {{ call.start_date }}</p>
                          <p>{% trans "End Date" %}: {{ call.end_date }}</p>
                          <p>{% trans "Msc Programme" %}:
                            {% if LANGUAGE_CODE == 'el-gr' %}
                              {{ call.msc_programme.title_el_GR }}
                            {% else %}
                              {{ call.msc_programme }}
                            {% endif %}
                           </p>
                        </div>
                    </div>
                    <br>
                </div>
              </div>
            <div class="spacer-sm"></div>
        {% endfor %}
    {% else %}
        <div class="row">
            <div class="col col-12">
                <div class="alert alert-danger">{% trans "No calls found " %}</div>
            </div>
        </div>
    {% endif %}

{% endblock  %}

