{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %} {% translate "Applications" %}{% endblock title %}
{% block extra_css %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"></link>
{% endblock %}
{% block content %}
        <div class="card">
            <div class="card-header msc-color text-white">
               <h5 style="display: inline">{% translate "Applications" %}</h5>
            </div>
            <div class="card-body table-responsive">
                <table id="datatable" class="table align-items-center table-striped">
                    <thead class="bg-light msc-text-color">
                        <tr>
                            <th scope="col">{% translate "Applicant" %}</th>
                            <th scope="col">{% translate "Submission Date" %}</th>
                            <th scope="col">{% translate "Admitted" %}</th>
                            <th scope="col">{% translate "Actions" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for app in applications %}
                            <tr>
                                <td><a href="{% url 'applicant:applicant_detail'  app.applicant.pk  %}">{{app.applicant}}</a></td>
                                <td>{{app.submission_date}}</td>
                                <td>
                                    {% if app.admitted == None %}
                                        {% translate "Pending" %}
                                    {% elif app.admitted == True %}
                                        {% translate "Yes" %}
                                    {% else %}
                                        {% translate "No" %}
                                    {% endif %}
                                </td>
                                <td>
                                    <a class="btn btn-outline-success rounded-pill" href="{% url 'msc:call_application_admit' call.pk app.pk  %}">{% translate "Admit" %}</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>

{% endblock content %}
{% block javascript %}
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">
        $('#datatable').DataTable({
            "ordering" : false,
        });
    </script>
{% endblock %}