{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{%block title %} {% translate "Admit application" %}{% endblock title %}
{% block content%}

<form
  enctype="multipart/form-data"
  class="form-special"
  method="post"
>
  {% csrf_token %}
  <div class="card">
    <div class="card-header msc-color text-white">
      <h5 style="display: inline">
        {% translate "Admit application" %}
      </h5>
    </div>
    <div class="card-body">
      <div class="container">
      <div class="row">
        <div class="col-md-6">
          <label>{% translate "Submission Date" %}</label>
        </div>
        <div class="col-md-6">
          <p>{{application.submission_date}}</p>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-6">
          <label>{% translate "Programme" %}</label>
        </div>
        <div class="col-md-6">
          <p>
            {{application.call.msc_programme}}
          </p>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-6">
          <label>{% translate "Reference" %}</label>
        </div>
        {% if application.reference %}
        <div class="col-md-6"><a href="{{application.reference.media_file.url}}">{{application.reference}}</a></div>
        {% else %}
        <div class="col-md-6">{% translate "None" %}</div>
        {% endif %}
      </div>
      <hr />
      <div class="row">
        <div class="col-md-6">
          <label>{% translate "Media File" %}</label>
        </div>
        <div class="col-md-6"><a href="{{application.media_file.url}}">{{application.media_file}}</a></div>
      </div>
      <hr />
      {% if application.preference_set.all %}
      <h5 >{% translate "Flows by prefered Order" %}</h5>
      <table style="width:40%">
        <thead>
          <tr>
            <th>{% translate "Priority" %}</th>
            <th >{% translate "Flow" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for pref in application.preference_set.all %}
              <tr>
                <td>{{pref.priority}}</td>
                <td> {{pref.flow}}</td>
              </tr>
           {% endfor %}
        </tbody>
      </table>
      <br>
      <div class="row">
        <div class="col-md-6">
          <label>{% translate "Admitted Flow" %}</label>
        </div>
        <div class="col-md-6">{{ form.admitted_flow |as_crispy_field }}</div>
      </div>
      <hr />
      {% endif %}
      <div class="row">
        <div class="col-md-6">
          <label>{% translate "Admitted" %}</label>
        </div>
        <div class="col-md-6">{{ form.admitted |as_crispy_field }}</div>
      </div>
      <hr />
      <button type="submit" class="btn msc-color text-white">{% translate "Submit" %}</button>
    </div>
    </div>
  </div>
</form>
{% endblock content %}
