
.big-icon {
  font-size: 150px;
}
.nav-item{
    color: white;
}
a.nav-link:link{
    color:black;
}
a.nav-link:visited{
    color:blue;
}
a.nav-link:hover{
    color:gray;
}

.flag-icon-el{
  padding-right: 5px;
  background-image: url(/staticfiles/img/el.png);

}

.flag li{
    padding-right: 5px;
}
textarea {
  box-shadow: none;
  outline: none;
  height:37px;
}

.msc-color{
  background-color: #203d2b;
}

.header-color{
  background-color: #2b583d;
  color: white;
}


.accordion-button.collapsed{
  background:#ccc;
}
.accordion-button:not(.collapsed) {
  background:#689e7e;
  color: white;
  background-image: lightgray;
}


.list-group-item.active {
  background-color: #2b583d;
  border-color: #2b583d;
}
.nav-pills .nav-item .nav-link.active {
  color: white;
  background-color: #2b583d;

}
.nav-pills .nav-item .nav-link {
  color: black;

}

