<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    {% load i18n %}
    {% load bootstrap5 %}
    {% block meta_tags %}
      <meta charset="UTF-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% endblock meta_tags %}
    {% block stylesheets %}
      {% bootstrap_css %}
      <link rel="shortcut icon" type="image/png" href="{% static '/img/flavicon.ico' %}"/>
      <link rel="stylesheet" type="text/css" href="{% static '/css/app.css' %}" >
      <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
        crossorigin="anonymous" />
    {% endblock %}
    {% block extra_css %}{% endblock extra_css %}
    {% block js %}
      {% bootstrap_javascript %}
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    {% endblock %}
      <title>{% block title %}{% endblock %}</title>
  </head>
  <body class="d-flex flex-column min-vh-100">
    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock %}
    {% bootstrap_messages %}
    <div class="container flex-grow-1">
      <br>
      <br>
      {% block content %}{% endblock %}
      <br>
      <br>
    </div>
    {% block footer %}
        {% include 'footer.html' %}
    {% endblock %}
    {% block javascript %}{% endblock javascript %}
  </body>
</html>