{% load i18n %}

{% block footer %}
    <footer class="page-footer font-small text-info pt-4">
        <div class="container-fluid text-center ">
        {% trans "Harokopio University" %} / 70,{% trans "El. Venizelou" %} / {% trans "Kallithea" %} 17671 /{% trans "Athens" %} - {% trans "GREECE" %}
                    {% trans "Tel" %}. +30 2109549100 / {% trans "Fax" %}. +30 2109577050
        </div>
        <div class="footer-copyright text-center py-3">© {% now 'Y' %} Copyright:
        <a href="https://www.hua.gr/index.php/en/"> HUA</a>
        </div>
    </footer>
{% endblock %}