{% load static %}
{% load flags %}
{% load i18n %}

{% block navbar %}
    <div class="header navbar-expand-lg navbar-dark header-color text-white"	>
        <div class="container">
            <div class="navbar-nav flag"> {% languages %}</div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg d-flex navbar-dark msc-color text-white "	>
        <div class="container">
            {% if user.is_authenticated %}
                <button class="btn float-end" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" role="button">
                    <i class="bi bi-list text-white fs-3" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"></i>
                </button>
            {% endif %}
            <a href="{% url 'home' %}" class="navbar-brand" >
                <img src="{% static 'img/sitelogo.png' %}" width="300" height="60" alt="">
            </a>
            <div class="navbar-nav ms-auto">
                <a  href="{% url 'msc:msc_programme_list' %}"
                    class="nav-link"><i class="fs-5 bi bi-easel"></i> {% translate "MSC Programmes" %} 
                </a>
                <a  href="{% url 'msc:call_list' %}"
                    class="nav-link"><i class="fs-5 bi bi-calendar2-range"></i> {% translate "Open Calls" %} 
                </a>
                {% if not user.is_authenticated %}
                    <a href="{% url 'account_login' %}"
                            class="nav-link"><i class="fs-5 bi bi-box-arrow-in-right"></i> {% translate "Login" %}</a>
                {% endif %}
            </div>
        </div>
    </nav>
    {% if user.is_authenticated %}
        <div class="offcanvas offcanvas-start w-25" tabindex="-1" id="offcanvas" data-bs-keyboard="false" data-bs-backdrop="false">
            <div class="offcanvas-header">
                <h6 class="offcanvas-title d-none d-sm-block" id="offcanvas">Menu</h6>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body px-0">
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-start" id="menu">
                    {% if user.is_applicant %}
                        <li >
                            <a href="{% url 'applicant:applicant_home' %}" class="nav-link text-truncate">
                                <i class="fs-5 bi-house"></i><span class="ms-1 d-none d-sm-inline">Home</span>
                            </a>
                        </li>
                        <li >
                            <a href="{% url 'applicant:applicant_applications' %}" class="nav-link text-truncate">
                                <i class="fs-5 bi bi-card-checklist"></i><span class="ms-1 d-none d-sm-inline">{% translate "My Applications" %}</span>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="nav-link dropdown-toggle  text-truncate" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fs-5 bi bi-person-circle"></i><span class="ms-1 d-none d-sm-inline">{% translate "Profile" %}</span>
                            </a>
                            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdown">
                                <li><a class="dropdown-item" href="{% url 'applicant:applicant_profile' %}">{% translate "View profile" %}</a></li>
                                <li><a class="dropdown-item" href="{% url 'applicant:applicant_profile_edit' %}">{% translate "Edit Profile" %}</a></li>
                                <li><a class="dropdown-item" href="{% url 'user_account:user_change_password' %}">{% translate "Change Password" %}</a></li>
                            </ul>
                        </li>
                    {% endif %}
                    {% if user.is_evaluator %}
                        <li >
                            <a href="{% url 'evaluator:evaluator_home' %}" class="nav-link text-truncate">
                                <i class="fs-5 bi-house"></i><span class="ms-1 d-none d-sm-inline">{% translate "Home" %}</span>
                            </a>
                        </li>
                        <li >
                            <a href="{% url 'evaluator:evaluator_calls' %}" class="nav-link text-truncate">
                                <i class="fs-5 bi bi-calendar2-range"></i><span class="ms-1 d-none d-sm-inline">{% translate "My Calls" %}</span>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="nav-link dropdown-toggle  text-truncate" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fs-5 bi bi-person-circle"></i><span class="ms-1 d-none d-sm-inline">{% translate "Profile" %}</span>
                            </a>
                            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdown">
                                <li><a class="dropdown-item" href="{% url 'evaluator:evaluator_profile' %}">{% translate "View profile" %}</a></li>
                                <li><a class="dropdown-item" href="{% url 'evaluator:evaluator_profile_edit' %}">{% translate "Edit Profile" %}</a></li>
                                <li><a class="dropdown-item" href="{% url 'user_account:user_change_password' %}">{% translate "Change Password" %}</a></li>
                            </ul>
                        </li>
                    {% endif %}
                    {% if user.is_secretary %}
                        <li >
                            <a href="{% url 'secretary:secretary_home' %}" class="nav-link text-truncate">
                                <i class="fs-5 bi-house"></i><span class="ms-1 d-none d-sm-inline">{% translate "Home" %}</span>
                            </a>
                        </li>
                        <li >
                            <a href="{% url 'secretary:secretary_calls' %}" class="nav-link text-truncate">
                                <i class="fs-5 bi bi-calendar2-range"></i><span class="ms-1 d-none d-sm-inline">{% translate "Calls" %}</span>
                            </a>
                        </li>
                        <li >
                            <a href="{% url 'secretary:secretary_programmes' %}" class="nav-link text-truncate">
                                <i class="fs-5 bi bi-easel"></i><span class="ms-1 d-none d-sm-inline">{% translate "MSC Programmes" %}</span>
                            </a>
                        </li>
                        <li >
                            <a href="{% url 'secretary:secretary_evaluators' %}" class="nav-link text-truncate">
                                <i class="bi bi-people-fill"></i><span class="ms-1 d-none d-sm-inline">{% translate "Evaluators" %}</span>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="nav-link dropdown-toggle  text-truncate" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fs-5 bi bi-person-circle"></i><span class="ms-1 d-none d-sm-inline">{% translate "Profile" %}</span>
                            </a>
                            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdown">
                                <li><a class="dropdown-item" href="{% url 'secretary:secretary_profile' %}">{% translate "View profile" %}</a></li>
                                <li><a class="dropdown-item" href="{% url 'secretary:secretary_profile_edit' %}">{% translate "Edit Profile" %}</a></li>
                                <li><a class="dropdown-item" href="{% url 'user_account:user_change_password' %}">{% translate "Change Password" %}</a></li>
                            </ul>
                        </li>
                    {% endif %}
                    </hr>
                    <li>
                        <a href="{% url 'account_logout' %}" class="nav-link text-truncate">
                            <i class="fs-5 bi bi-box-arrow-left"></i><span class="ms-1 d-none d-sm-inline">{% translate "Logout" %}</span> </a>
                    </li>
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock %}