{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %} {{ programme.title }}{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-12 col-md-9">

            <div class="card">
                <div class="card-header msc-color text-white">
                    <h5 style="display: inline">
                        {{programme.title}}
                    </h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <p><strong>{% translate "Country" %}:</strong>
                                {{programme.country}}
                            </p>
                            <p><strong>{% translate "City" %}:</strong>
                                {{programme.city}}
                            </p>
                            <p><strong>{% translate "Address" %}:</strong>
                                {{programme.address}}
                            </p>
                            <p><strong>{% translate "Pobox" %}:</strong> {{programme.pobox }}</p>
                            <p><strong>{% translate "Telephone" %}:</strong> {{programme.telephone }}</p>
                        </div>
                        <div class="col-12 col-md-6">
                            <p><strong>{% translate "Department" %}:</strong>
                                <a href="{% url 'org:department_detail' programme.department.pk %}"> {{programme.department}}</a>
                            </p>
                            <p><strong>{% translate "Institution" %}:</strong>
                                <a href="{% url 'org:institution_detail' programme.department.institution.pk %}"> {{programme.department.institution}}</a>
                            </p>
                            {% if programme.mscflow_set.all %}
                                <p><strong>{% translate "Flows" %} :</strong></p>
                                {% for flow in programme.mscflow_set.all %}
                                    <p><strong>{{forloop.counter}} : </strong>{{flow.title}}</p>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if calls %}
            <div class="col-12 col-md-3">
                <div class="card">
                    <div class="card-header msc-color text-white">
                        <h5 style="display: inline">
                            {% translate "Open Calls" %}
                        </h5>
                    </div>
                    <div class="card-body">
                        <div class="list-group">
                            {% for call in calls %}
                                <a href="{% url 'msc:call_detail' call.pk %}" class="list-group-item list-group-item-action" >
                                    {{call.title}}
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}