{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %} {{ call.title }}{% endblock title %}
{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div class=card>
                <div class="card-header text-white msc-color">
                    <h6 style="display: inline">
                            {{ call.title }}
                    </h6>
                    {% if user.is_authenticated %}
                        {% if user.is_applicant %}
                            <span class="float-end"><a href="{% url 'msc:call_new_application' call.pk %}" class="btn btn-outline-light btn-md rounded-pill">{% translate "New Application" %}</a></span>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="card-body">
                    <div class="list-group list-group-flush" id="list-tab" role="tablist">
                        <a class="list-group-item list-group-item-action active" id="list-call-list" data-bs-toggle="list" href="#list-call" role="tab" aria-controls="list-call">{% translate "Call" %}</a>
                        <a class="list-group-item list-group-item-action" id="list-msc-list" data-bs-toggle="list" href="#list-msc" role="tab" aria-controls="list-msc">{% translate "Programme" %}</a>
                        <a class="list-group-item list-group-item-action" id="list-flows-list" data-bs-toggle="list" href="#list-flows" role="tab" aria-controls="list-flows">{% translate "Flows" %}</a>
                        <a class="list-group-item list-group-item-action" id="list-department-list" data-bs-toggle="list" href="#list-department" role="tab" aria-controls="list-department">{% translate "Department" %}</a>
                        <a class="list-group-item list-group-item-action" id="list-institution-list" data-bs-toggle="list" href="#list-institution" role="tab" aria-controls="list-institution">{% translate "Institution" %}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-call" role="tabpanel" aria-labelledby="list-call-list">
                    <div class="card">
                        <div class="card-header msc-color text-white">
                            <h5 style="display: inline">
                                {{ call.title }}
                              </h5>
                        </div>
                        <div class="card-body">
                              <p><strong>{% translate "Start Date" %}:</strong> {{ call.start_date }}</p>
                              <p><strong>{% translate "End Date" %}:</strong> {{ call.end_date }}</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="list-msc" role="tabpanel" aria-labelledby="list-msc-list">
                    <div class="card">
                        <div class="card-header msc-color text-white">
                            <h5 style="display: inline">
                                {{call.msc_programme.title}}
                                <span class="float-end"><a href="{% url 'msc:msc_programme_detail'  call.msc_programme.pk  %}" class="btn btn-outline-light rounded-pill">{% translate "View Programme" %}</a></span>
                            </h5>
                        </div>
                        <div class="card-body">
                            <p><strong>{% translate "Country" %}:</strong>
                                {{call.msc_programme.country}}
                            </p>
                            <p><strong>{% translate "City" %}:</strong>
                                {{call.msc_programme.city}}
                            </p>
                            <p><strong>{% translate "Address" %}:</strong>
                                {{call.msc_programme.address}}
                            </p>
                            <p><strong>{% translate "Pobox" %}:</strong> {{call.msc_programme.pobox }}</p>
                            <p><strong>{% translate "Telephone" %}:</strong> {{call.msc_programme.telephone }}</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="list-flows" role="tabpanel" aria-labelledby="list-flows-list">
                    <div class="card">
                        <div class="card-header msc-color text-white">
                            <h5 style="display: inline">
                                    {{call.msc_programme.title}}
                                {% translate "Flows" %}
                            </h5>
                        </div>
                        <div class="card-body">
                            {% for flow in call.msc_programme.mscflow_set.all %}
                                <p><strong>{{forloop.counter}} :</strong>
                                    {{flow.title}}
                                </p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="list-department" role="tabpanel" aria-labelledby="list-department-list">
                    <div class="card">
                        <div class="card-header msc-color text-white">
                            <h5 style="display: inline">
                                {{call.msc_programme.department.title}}
                                <span class="float-end"><a href="{% url 'org:department_detail'  call.msc_programme.department.pk  %}" class="btn btn-outline-light rounded-pill">{% translate "View Department" %}</a></span>
                            </h5>
                        </div>
                        <div class="card-body">
                            <p><strong>{% translate "Country" %}:</strong>
                                {{call.msc_programme.department.country}}
                            </p>
                            <p><strong>{% translate "City" %}:</strong>
                                {{call.msc_programme.department.city}}
                            </p>
                            <p><strong>{% translate "Address" %}:</strong>
                                {{call.msc_programme.department.address}}
                            </p>
                            <p><strong>{% translate "Pobox" %}:</strong> {{call.msc_programme.department.pobox }}</p>
                            <p><strong>{% translate "Telephone" %}:</strong> {{call.msc_programme.department.telephone }}</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="list-institution" role="tabpanel" aria-labelledby="list-institution-list">
                    <div class="card">
                        <div class="card-header msc-color text-white">
                            <h5 style="display: inline">
                                {{call.msc_programme.department.institution.title}}
                                <span class="float-end"><a href="{% url 'org:institution_detail'  call.msc_programme.department.institution.pk  %}" class="btn btn-outline-light rounded-pill">{% translate "View Institution" %}</a></span>
                            </h5>
                        </div>
                        <div class="card-body">
                            <p><strong>{% translate "Country" %}:</strong>
                                {{call.msc_programme.department.institution.country}}
                            </p>
                            <p><strong>{% translate "City" %}:</strong>
                                {{call.msc_programme.department.institution.city}}
                            </p>
                            <p><strong>{% translate "Address" %}:</strong>
                                {{call.msc_programme.department.institution.address}}
                            </p>
                            <p><strong>{% translate "Pobox" %}:</strong> {{call.msc_programme.department.institution.pobox }}</p>
                            <p><strong>{% translate "Telephone" %}:</strong> {{call.msc_programme.department.institution.telephone }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}