{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% translate "Calls" %}{% endblock title %}
{% block extra_css %}
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"></link>
{% endblock %}

{% block content %}
  {% if calls %}
        {% for call in calls %}
            <div class="row">
                <div class="col col-12">
                    <div class="card">
                        <div class="card-header msc-color text-white">
                            <h5 style="display: inline">
                                {{ call.title }}
                            </h5>
                            <span class="float-end"><a href="{% url 'msc:call_detail'  call.pk  %}" class="btn btn-outline-light rounded-pill">{% translate "View Call" %}</a></span>
                        </div>
                        <div class="card-body">
                          <p><strong>{% translate "Start Date" %}:</strong> {{ call.start_date }}</p>
                          <p><strong>{% translate "End Date" %}:</strong> {{ call.end_date }}</p>
                          <p><strong>{% translate "Msc Programme" %}:</strong> <a href="{% url 'msc:msc_programme_detail' call.msc_programme.pk %}"> {{ call.msc_programme }}</a></p>
                        </div>
                    </div>
                    <br>
                </div>
              </div>
            <div class="spacer-sm"></div>
        {% endfor %}
        {% if is_paginated %}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                {% endif %}
                {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="active page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link disabled" href="#">Next</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    {% else %}
        <div class="row">
            <div class="col col-12">
                <div class="alert alert-danger">{% translate "No calls found " %}</div>
            </div>
        </div>
    {% endif %}

{% endblock  %}

