{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{{department.title}} {% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-12 col-sm-4">
            <div class="card">
                <div class="card-header msc-color text-white">
                    <h5 style="display: inline">
                        {{department.title}}
                    </h5>
                </div>
                <div class="card-body">
                    <p><strong>{% translate "Country" %}:</strong>
                        {{department.country}}
                    </p>
                    <p><strong>{% translate "City" %}:</strong>
                        {{department.city}}
                    </p>
                    <p><strong>{% translate "Address" %}:</strong>
                        {{department.address}}
                    </p>
                    <p><strong>{% translate "Pobox" %}:</strong> {{department.pobox }}</p>
                    <p><strong>{% translate "Telephone" %}:</strong> {{department.telephone }}</p>
                    <p><strong>{% translate "Institution" %}:</strong> <a href="{% url 'org:institution_detail' department.institution.pk %}" >{{department.institution }}</a></p>
                    {% if department.secretary_set.all %}
                        <h5>{% translate "Secretary" %}</h5>
                        {% for sec in department.secretary_set.all %}
                            <hr>
                            <p><strong>{% translate "Email" %}:</strong> {{sec.user.email }}</p>
                            <p><strong>{% translate "Full name" %}:</strong> {{sec.user.first_name }} {{sec.user.last_name }}</p>
                            <p><strong>{% translate "Telephone" %}:</strong> {{sec.telephone }} </p>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% if department.mscprogramme_set.all %}
            <div class="col-12 col-sm-8">
                <figure class="text-center card card-body header-color text-white">
                    <blockquote class="blockquote">
                        <p>{% translate 'MSC Programmes' %}</p>
                    </blockquote>
                </figure>
                {% for msc in department.mscprogramme_set.all %}
                    <div class="card">
                        <div class="card-header msc-color text-white">
                            <h5 style="display: inline">
                                {{msc.title}}
                                <span class="float-end"><a href="{% url 'msc:msc_programme_detail'  msc.pk  %}" class="btn btn-outline-light">{% translate "View Programme" %}</a></span>
                            </h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="cols-12 col-sm-6">
                                    <p><strong>{% translate "Country" %}:</strong>
                                        {{msc.country}}
                                    </p>
                                    <p><strong>{% translate "City" %}:</strong>
                                        {{msc.city}}
                                    </p>
                                </div>
                                <div class="cols-12 col-sm-6">
                                    <p><strong>{% translate "Address" %}:</strong>
                                        {{msc.address}}
                                    </p>
                                    <p><strong>{% translate "Pobox" %}:</strong> {{msc.pobox }}</p>
                                    <p><strong>{% translate "Telephone" %}:</strong> {{msc.telephone }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}